@import   'commons'
.gamebj
    background url('../assets/game/game_3.png') 0 0 no-repeat 
    width 100vw
    height getVW(630vw)
    background-size 100vw getVW(630vw)
    position relative
.gamespan
    color #ffe31a
    padding 0 5px
.gametext 
    text-align center
    color #fff
    padding-top getVW(48vw)
.gameall_button
    position absolute
    bottom getVW(80vw)
    text-align center
    width 100%
.gamebutton
    padding getVW(15vw) getVW(80vw)
    color red
    border none
    background #fff
    border-radius 5px
    font-size: getVW(36vw)
    font-weight: bold
    &+&
        margin-left getVW(20vw)
.gametoux
    width getVW(98vw)   
    height  getVW(98vw)
    margin-right getVW(30vw)
    margin-left: getVW(45vw - 34)
    display block
    border-radius 50%
.gamehaspadding
    padding-right getVW(30vw)
.gamefoot
    position fixed
    bottom 0
    left 0
    width 100vw
    background #fe361b
    color #fff
.gameflex
    font-size getVW(26vw)
    padding 0 getVW(40vw)
    line-height getVW(77vw)
    display flex
    justify-content space-between
.gamewh
    display block   
    width getVW(30vw) 
    height getVW(30vw) 
    margin-left 5px
.gameno_list
    padding-top 5vh
    text-align center
.gameresulttop
    background url('../assets/game/game_1.png') no-repeat 0 0
    background-size 100vw getVW(402vw)
    height getVW(402vw)
    color #ffffff
    text-align center
    position relative
.gameresulttop_div
    position absolute
    bottom  getVW(30vw)
    width 100vw
    text-align center
    font-size getVW(80vw)
.gameresultcenter
    background #ff4400
    color #fff 
    text-align center
    overflow hidden
    margin-top -1px
    position absolute
    top getVW(402vw)
    bottom 0
    left 0
    right 0
.gametext36
    font-size getVW(36vw)
.gametext30
    font-size getVW(30vw)
.gameresult_button
    display block
    border none 
    background #feec1c
    color #eb0d0a
    margin getVW(70vw) auto getVW(30vw)
    border-radius 5px
    line-height getVW(88vw)
    width getVW(480vw)
.gamegz
    width getVW(550vw)
    text-align left  
    margin 0  auto    
    font-size getVW(24vw)
.gamesj
   text-indent getVW(50vw)
.zfcg-flex
    display flex
    align-items center
    padding:  getVW(20vw)
    background #fff
    &+&
        margin-top: getVW(40vw)
.mscj
    width  getVW(120vw)   
    line-height  getVW(52vw)   
    border-radius 5px
    background #01b8b2
    color #fff
    text-align center
    font-size getVW(24vw)
.yxtp
    width getVW(118vw)
    height getVW(96vw)
    display block
.shuom-hideen
    margin 0 getVW(20vw)
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
.color-lan
    color #01b8b2
    font-size getVW(36vw)
    text-indent:  getVW(36vw)
.paymentsuccess
    width getVW(584vw)
    border-radius 15px
    background: #fff
    color #000
    margin 0 auto
    margin-top getVW(114vw)
    box-sizing border-box
    padding  getVW(38vw)
    text-align center
    position relative
.paymentsuccess-boon
    width 80%
    margin 0 auto
    background #00b7b2
    color #ffffff
    text-align center
    border-radius 5px
    line-height getVW(88vw)
    display block
.mdzz
    width getVW(507vw)
    height  getVW(386vw)
    margin getVW(30vw) 0
.pay-title
    color #01b8b2
    font-size getVW(48vw)
.cha
    position absolute
    bottom getVW(-100vw)
    width getVW(64vw)
    height getVW(64vw)
    left 50%
    margin-left: getVW(-32vw)
    z-index 999
.pay-top
    flex 1
    margin-left getVW(20vw)
.color-l
    color #01b8b2
.color-red
    color red
.siteHeader
    background #00b7b3
    display:  flex
    align-items: center
    .curChannel 
        color #ffffff
        margin-left 15vw
        font-size getVW(36vw)
.siteHeader_img 
    width getVW(220vw)
.sLogo
    padding  getVW(10vw)
    margin-left: 3vw
.sNav
    display flex
    background-color #e5f4fb
    font-weight bold
.sNav a
    display inline-block
    width 12.5%
    text-align center
    color #285778
    padding 6px 0
.particularsell_logo
    width getVW(88vw)
    height getVW(88vw)
    border-radius:  100%
    padding-top getVW(10vw)
.particularsell_div
    margin getVW(16VW)
    background #fff
    border-radius 5px
    padding 10px
    box-shadow: 0 1px 4px 0 rgba(88, 100, 117, 0.2);
.aicenter
    align-items: center
.particularsell_img
    width 4.45rem
    height 2.2rem
    border none
    display block
.particularsell_ritex
    font-size .24rem
    margin-left .2rem
.bt10
    margin-bottom .2rem
.particularsell_but
    display block
    background #169bd5
    width getVW(150vw)
    line-height getVW(50vw)
    text-align center
    color #fff
    border-radius 5px
.particularselldetails-img
    width: 7.5rem;
    height: 4.16rem;
    background-size: cover;
    display: block;
.parti-pos
    position relative
.parti-bm
    position absolute
    bottom getVW(20vw)
    left 0
    background: #323a4d
    padding 0 15px
    border-radius 0 45px 45px 0
    color #ffffff
    opacity .7
.particularselldetails-div
    padding  getVW(22vw) getVW(18vw)
    // background #d9d9d9
.particularselldetails-h1
    font-size getVW(36vw)
    margin-left getVW(20vw)
    text-overflow ellipsis
    overflow hidden
    white-space nowrap
.particularselldetails-hr
    height getVW(16vw)
    background #e5e5e5
.zzjsq
    line-height:  getVW(70vw)
    text-align: center
    position relative
    color #666
    &:after
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 1px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        color: rgba(0,0,0,0.1);
        transform-origin: 0 100%;
        transform: scaleY(0.5);
        z-index: 2;
    
.psdq_0
    width getVW(27vw)
    height getVW(27vw)
    display block
    margin-right: 5px
.psdq_0_div_top
    height getVW(16vw)
    background: #e5e5e5
.psdq_0_div
    padding getVW(16vw) 0
    display flex
    align-items center
    text-align: center
    justify-content: center;
    flex: 1
.particularselldetails-flex
    display:  flex
    align-items: center
    justify-content: center
    position relative
    padding getVW(30vw) 0 getVW(20vw) 0
    &:after 
        content " "
        position absolute
        left 0
        bottom 0
        right 0
        height 1px
        border-bottom 1px solid rgba(0, 0, 0, 0.1)
        color rgba(0, 0, 0, 0.1)
        transform-origin 0 100%
        transform scaleY(0.5)
        z-index 2
.psdq_1
    width getVW(138vw)
    height  getVW(4vw)
.psdq_1.xz
    transform: rotate(180deg);
.thhd
    color #b81411
    font-size getVW(48vw)
    padding 0 getVW(20vw)
.part-hdxq
    padding getVW(20vw) 0
    text-indent: getVW(30vw)
    color #666666
    // font-size: getVW(28vw)
    & img 
        width  100%
        max-width  100%
        display block
.psdq_2
    width getVW(479vw)
    height getVW(281vw)
    display block
    margin  0 auto
    padding getVW(20vw) 0
.weui-cell:before
    left 0
.psdq_3
    width getVW(750vw)
    height getVW(226vw)
    display block
.par-footer
    position fixed
    bottom 0 
    left 0
    right 0
.par-footer-div
    padding-top: getVW(250VW)
.gudt
    transition transform 1s 
.text-ovhi
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
.particularsellsign-title
    padding getVW(20vw) 0
    position relative
    &:after
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 1px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        color: rgba(0,0,0,0.1);
        transform-origin: 0 100%;
        transform: scaleY(0.5);
        z-index: 2;
.psdq_4
    width getVW(46vw)
    padding 0 getVW(44vw)
.pss-aicenter
    display flex
    align-items center
    padding getVW(20vw) 0
.pss-text-h
    color #c9141d
.pss-hr
    background: #e5e5e5
    height getVW(20vw)
.pss-bms
    padding getVW(20vw) 0
    text-align center
    position relative
    font-size getVW(28vw)
    .color-red
       font-size getVW(38vw) 
    &:after
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 1px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        color: rgba(0,0,0,0.1);
        transform-origin: 0 100%;
        transform: scaleY(0.5);
        z-index: 2;
.pss-input
    border 1px solid rgba(0,0,0,0.1)
    line-height getVW(80vw)
    border-radius 5px
    margin-bottom getVW(20vw)
    text-indent getVW(40vw)
    width 100%
.pss-from
    padding getVW(40vw)
.pss-flexlist
    display flex
    flex-flow row wrap 
    padding-top:  getVW(30vw)
.pss-class
    line-height getVW(60vw)
    padding 0 getVW(60vw)
    border 1px solid rgba(0,0,0,0.1)
    border-radius 5px
    margin-bottom getVW(20vw)
    margin-left: getVW(20vw)
    &.click
        border: 1px solid #b81411;
        color: #b81411
.pss-gxq
    padding 0 getVW(40vw)
.pss-botton
    margin getVW(45vw) 
    color #fff
    line-height getVW(80vw) 
    border-radius: 5px
    background #b81411
    text-align: center
.particularsell-head
    position fixed
    top 0
    left 0
    right 0
    z-index 99999
.particularsell-hhr
    height  getVW(180vw)
.mztc_sb
    white-space: nowrap
    overflow hidden
    text-overflow ellipsis
.bitian
    position relative
    display  inline-block 
    &:after
        content " "
        position absolute
        top 50%
        right -15px
        background url(../assets/particularsell/xin.png) no-repeat 0 0
        background-size 10px
        width  10px
        height  10px
        z-index 2
        transform: translateY(-50%)
.psfelxehr
    height getVW(175vw) 
.psfelxe
    position:  fixed
    bottom: 0
    left 0
    width 100%       